- if user_signed_in?
  - if book.like_user(current_user.id)
    = link_to book_like_path(book,like), method: :delete, remote: true do
      %span.btn
        %i.fa.fa-heart{:style => "color: red"}= book.likes_count
        いいね解除！
  - else
    = link_to book_likes_path(book), method: :post, remote: true do
      %span.btn
        %i.fa.fa-heart-o= book.likes_count
        いいね！
