<div class="clear"></div>
<!-- start Main Wrapper -->
<div class="main-wrapper scrollspy-container">
  <!-- start end Page title -->
  <div class="page-title" style="background-image:url('/assets/my_room.jpeg');">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
          <h2 class="text-white">せきやじょうじ</h2>
          <div class="user-thumbnail mb-10" style="background-image:url('/assets/sekiya.jpeg');">
          <!-- <img src="images/books/book9.jpg" alt="" class="user-thumbnail"> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end Page title -->

<!-- end Main Wrapper -->

<!-- start Back To Top -->
<div id="back-to-top">
   <a href="#"><i class="fa fa-angle-up"></i></a>
</div>
<!-- end Back To Top -->


<div class="clear"></div>
<!-- start Main Wrapper -->
  <div class="content-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-9">
          <div class="confirmation-wrapper">
<!--             <div class="clearfix mb-20">
              <div class="col-xs-8 col-md-4 pl-0">
                <img src="/assets/books/book1.png" alt="">
              </div>
            </div> -->
            <div class="confirmation-content">
              <div class="section-title text-left">
                <h4>登録情報</h4>
              </div>
              <ul class="book-sum-list">
                <li><span class="font600">名前: </span><%= current_user.username %> 様</li>
                <li><span class="font600">email: </span> <%= current_user.email %></li>
                <li><span class="font600">お届け先郵便番号: </span> 150-0000</li>
                <li><span class="font600">お届け先住所: </span>東京都渋谷区道玄坂２丁目新大宗ビル３号館８階</li>
                <li><span class="font600">お支払金額合計: </span>1200円</li>
              </ul>
            </div>
            <div class="text-right">
            <button class="btn btn-primary btn-inverse">登録情報を編集する</button>
          </div>
          </div>
        </div>
<!--         <div class="col-sm-4 col-md-3 mt-50-xs">
          <aside class="sidebar with-filter">
            <div class="sidebar-inner">
              <div class="sidebar-module">
                <h4 class="heading mt-0">お問い合わせ</h4>
                <div class="sidebar-module-inner">
                  <p class="mb-10">東京都渋谷区道玄坂２丁目新大宗ビル３号館８階</p>
                  <ul class="help-list">
                    <li><span class="font600">電話番号</span>: 090-0000-0000</li>
                    <li><span class="font600">Email</span>: support@tech-book.com</li>
                    <li><span class="font600">Twitter</span>: @tech-book</li>
                  </ul>
                </div>
              </div>
            </div>
          </aside>
        </div> -->
      </div>
    </div>
  </div>
</div>

