
<div class="clear"></div>
<!-- start Main Wrapper -->
<div class="main-wrapper">
  <!-- start end Page title -->
  <div class="page-title" style="background-image:url('/assets/books_on_desk2.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
          <h1 class="hero-title">書籍一覧</h1>
        </div>
      </div>
    </div>
  </div>
  <!-- end Page title -->
  <div class="breadcrumb-wrapper bg-light-2">
    <div class="container">
      <ol class="breadcrumb-list booking-step">
        <li><a href="">トップ</a></li>
        <li><a href="#">検索結果</a></li>
      </ol>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-md-3">
          <aside class="sidebar with-filter">
            <div class="sidebar-search-wrapper bg-light-2">
              <div class="sidebar-search-header">
                <h4>再検索</h4>
              </div>
              <div class="sidebar-search-content">
                <div class="form-group">
                  <%= form_tag books_search_path, method: :get %>
                  <%= select_tag :category, options_for_select(["HTML CSS", "Ruby", "JavaScript", "Ruby on Rails", "PHP", "Java"]), class:"select select2-multi form-control", include_blank:true, prompt:"カテゴリを選択"%>
                </div>
                <div class="form-group">
                  <%= text_field :"", :word, class: "form-control", placeholder: "キーワード" %>
                </div>
                <%= submit_tag "再検索", class:"btn btn-primary btn-block" %>
              </div>
            </div>
          </aside>
        </div>
        <% if @books %>
          <div class="col-sm-8 col-md-9">
            <div class="sorting-wrappper">
              <div class="sorting-header">
                <p class="sorting-lead"><%= @books.total_count %>件の検索結果が見つかりました。</p>
              </div>
            </div>
            <div class="package-list-item-wrapper on-page-result-page clearfix">
                  <% @books.each do |book| %>
                    <%= render partial:"books/search_book", locals:{book: book} %>
                  <% end %>
            </div>
            <div class="pager-wrappper clearfix">
              <div class="pager-innner">
                <div class="flex-row flex-align-middle">
                  <div class="flex-column flex-sm-12">
                    <%= @books.total_count %>件中
                    <% if (@books.offset_value + 1) ==  (@books.offset_value + @books.length)%>
                      <%= @books.offset_value + @books.length %>件目を表示しています。
                    <% else %>
                      <%= @books.offset_value + 1 %>から<%= @books.offset_value + @books.length %>件目を表示しています。
                    <% end %>
                  </div>
                  <div class="text-center">
                    <%= paginate @books %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% else %>
          <div class="col-sm-8 col-md-9">
            <div class="sorting-wrappper">
              <div class="sorting-header">
                <p class="sorting-lead">検索された商品は見つかりませんでした。</p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- end Main Wrapper -->

<!-- start Back To Top -->
<div id="back-to-top">
   <a href="#"><i class="fa fa-angle-up"></i></a>
</div>
<!-- end Back To Top -->

<!-- JS -->