.navbar-logo img {
  height: 45px;
}

.btn-primary {
  background-color: $accent_color;
  border-color: $accent_color;
  &:hover {
    background-color: lighten($accent_color, 10%);
    border-color: $accent_color;
  }
}

.main-wrapper .container .full-width #long-column-item {
  width: 50%;
}

.new-books .package-grid-item {
  width: 100%;
}

.btn-full-width {
  width: 100%;
}

.price span {
  font-size: calc(150%);
}

.user-thumbnail {
  display: block;
  margin: 0 auto;
  height: 80px;
  width: 80px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.payment-traveller {
  border-bottom: 0;
}

.package-list-item-link .content p {
  color: #666;
  font-weight: lighter;
}

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.destroy-button-custom{
  margin-top:10px;
  background-color:gray;
  color: white;
}

.soldout{
  float: right;
  width:100px;
}

.likes_count{
  color:red;
}

.page-item{
  width:500px;
}
.page-link{
  width:100px;
}
.center{
  text-align:center;
}
.hide{
  display:none;
}

.preImg{
  width:250px;
  height:300px;
  z-index:2;
  position:relative;
  top:-300px;
  opacity:0;
}

.comment{
  width:350px;
  border-radius:5px;
  padding:10px;
  margin:15px 0 0 0;
  background-color:#F5F5F5;
  border-radius:5px;
}

.seller-comment{
  float:right;
  text-align:right;
}

.seller-comment-body{
  position:relative;
  width:350px;
  background-color:#F5F5F5;
  text-align:left;
}
.seller-comment-body:after  {
  border:10px solid transparent;
  border-bottom-color:#F5F5F5;
  border-top-width:0;
  top:-10px;
  content:"";
  display:block;
  right:10px;
  position:absolute;
  width:0;
}
.other-comment-body{
  position:relative;
  width:350px;
  background-color:#F5F5F5;
}
.other-comment-body:after  {
  border:10px solid transparent;
  border-bottom-color:#F5F5F5;
  border-top-width:0;
  top:-10px;
  content:"";
  display:block;
  left:10px;
  position:absolute;
  width:0;
}

.my-comment-body{
  position:relative;
  width:350px;
  background-color:rgba(51,204,153,0.2);
}
.my-comment-body:after  {
  border:10px solid transparent;
  border-bottom-color:rgba(51,204,153,0.2);
  border-top-width:0;
  top:-10px;
  content:"";
  display:block;
  left:10px;
  position:absolute;
  width:0;
}
.my-seller-comment-body{
  position:relative;
  width:350px;
  background-color:rgba(51,204,153,0.2);
  text-align:left;
}
.my-seller-comment-body:after  {
  border:10px solid transparent;
  border-bottom-color:rgba(51,204,153,0.2);
  border-top-width:0;
  top:-10px;
  content:"";
  display:block;
  right:10px;
  position:absolute;
  width:0;
}

#comment_index{
  margin-top:20px;
  padding-top:20px;
  border-top:1px solid #FAEBD7;
}

.media-body{
  color:#333;
}

.alert{
  margin:0;
}
.sell-form{
  display:inline-block;
}
.btn-address{
  opacity: 0.7;
}
.sell_book{
  width:100px;
}
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.title-left{
  float:left;
}
.title-right{
  float:right;
  width:85%;
}
.shipping-address{
  margin-top:10px;
  padding:10px;
  color:white;
  background-color:rgba(19, 183, 136, 0.8);
  border-color: $main_color;
}
.shipping-address-color{
  color:white;
}
.trash{
  float:right;
  color:#666;
  opacity:0.4;
  transition:all 0.2s;
}
.trash:hover{
  opacity:0.8;
  cursor: pointer;
}
